<style>@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Oswald:wght@400;700&display=swap');

</style><style>@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Oswald:wght@400;700&display=swap');

</style>:root {
    --primaryColor: #14b8a6;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: auto;
}

hr {
    margin: 2rem 0rem;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

small {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: large;
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    ;
}

.container-center {
    max-width: 600px;
    margin: auto;
    padding-left: 1rem;
}

.link {
    text-decoration: none;
    border-color: #14b8a6;
    border-radius: 5rem;
    /* box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem; */
    padding: 0.5rem 1rem;
    color: white;
}

.link-primary {
    background-color: #14b8a6;
    border-radius: 1rem;
    color: white;
}

.link-secondary {
    color: #14b8a6;
    border-radius: 1rem;
    border: 2px solid #14b8a6;
}

/* look into BEM naming convention for CSS */

/**  Lists **/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    background-color: #14b8a6;
    border-radius: 5rem;
    color: white;
    padding: 0.5rem 0.5rem;
    margin-left: 0.5rem;
}

.headings {
    font-size: larger;
    margin: 2rem 0rem;
}

/* Navigation */

.nav {
    background-color: #0f766e;
    block-size: 6rem;
    color: white;
}

.new-brand {
    font-size: x-large;
    font-weight: bold;
    background-color: #0f766e;
    size: 5rem;
    padding-top: 1rem;
    margin: 0rem 2rem;
    color: white;
}

.nav.link {
    color: white;
}

.nav-pills {
    text-align: right;
}

.nav-item-inline {
    display: inline;
    padding: 0.75rem 0.75rem;
}

/* Header */
.coder {
    padding: 2rem;
    text-align: center;
}

.coder-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.coder-heading {
    font-size: 1.5rem;
    color: #404040;
    padding-top: 1rem;
    text-align: center;
}

.heading-inverted {
    color: #064e3b;
}

/** Sections **/
.section {
    padding: 2rem;
}
.sections h3 {
    text-align: center;
}
.ow {
    background-color: #e5e5e5;
}

/* footer */
.footer {
    background-color: #0f766e;
    text-align: center;
    color: white;
    block-size: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.foot-icon {
    max-width: 45px;
    display: inline-block;
    margin: 0.75rem;
}